.header__logo {
  width: 50px;
}

.headerOption {
  color: white;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}
.HeaderTextUp {
  font-size: 10px;
}
.HeaderTextDown {
  font-size: 13px;
  font-weight: 700;
}
